
.jumbotron {
  text-align: center;
  background-image: url('../img/coverPhoto.jpg');
  background-position: 25% 30%;
  background-size: cover;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

#coverPhoto {
  max-width: 100%;
}

/*#piStyle {
  width: ;
}

#piSize {

}*/
